.day {
  width: 50px;
  height: 36px;
}

.day:hover:enabled {
  background-color: #e6e6e6;
}

.day:active {
  color: white;
  background-color: #006edc;
}

.day:disabled {
  color: #757575;
  cursor: not-allowed;
  pointer-events: painted;
}

.currentDay {
  background-color: #ffff76;
}
